<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div >
    <h2>User:</h2>
    <table>
        <thead>
        <tr>
            <th>Username</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Role</th>
            <th>Status</th>
            <th>Created date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${user}">
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getFirstName()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.getRole()}"></td>
            <td th:text="${user.getStatus()}"></td>
            <td th:text="${user.getCreatedDate()}"></td>

        </tbody>
    </table>
</div>
</body>
</html>