<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div>
    <h2>User:</h2>
    <table>
        <thead>
        <tr>
            <th>Username</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Role</th>
            <th>Status</th>
            <th>Created date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${user}">
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getFirstName()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.getRole()}"></td>
            <td th:text="${user.getStatus()}"></td>
            <td th:text="${user.getCreatedDate()}"></td>
            <td>
                <a th:href="@{/{id}/edit(id=${user.getId()})}">Edit</a>
            </td>
            <td>
                <form th:method="DELETE" th:action="@{/user/{id}(id=${user.getId()})}">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
            <td>
                <form th:method="PATCH" th:action="@{/user/{id}/lock(id=${user.getId()})}">
                    <input type="submit" value="Change status"/>
                </form>
            </td>

        </tbody>
    </table>
</div>
</body>
</html>